.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 100px 100px 100px;
  
}

.contact_heading {
  font-size: 35px;
  text-align: center;
  white-space: nowrap;
}

.contact_msg {
  margin-bottom: 70px;
  white-space: inherit;
align-self: center;
}

.contact_info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.contact_options {
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 100%;
}
.contact_type {
  background-color: var(--button-color);
  padding: 17px 25px 17px 25px;
  border-radius: 20px;
  text-align: center;
  border: 1px solid transparent;
  transition: 0.6s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
   outline: none;
  border: none;
}

.contact_type span {
  margin-top: 11px;
  font-size: 13px;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}
.contact_type:hover span {
  color: var(--heading-color);
}
.contact_type:hover {
  background: var(--body-color);
  border-color: var(--heading-color);
}

.contact_type-icon {
  color: var(--heading-color);
}

.contact_type:hover .contact_type-icon {
  color: var(--text-color);
}
/*    form    */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.inputs {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.inputs input {
  margin-top: 4px;
  width: 360px;
  padding: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--heading-color);
  border: 1px solid var(--heading-color);
  resize: none;
  outline: transparent;
  height: 50px;
  transition: 0.5s;
  font-size: 0.9375rem;
  font-weight: 500;
}
.inputs input::placeholder {
  color: var(--body-color);
  font-size: 0.9375rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  position: absolute;
  top: 15px;
  left: 15px;
}

.inputs input:hover {
  background: transparent;
  border-color: var(--heading-color);
  color: var(--text-color);
}

.inputs input:hover::placeholder {
  color: var(--text-color);
}

form > textarea {
  border-radius: 0.5rem;
  background: var(--heading-color);
  border: 1px solid var(--heading-color);
  color: var(--body-color);
  height: 130px;
  width: 360px;
  padding: 17px;
  outline: transparent;
  resize: none;
  transition: 0.5s;
}
form > textarea::placeholder {
  position: absolute;
  top: 15px;
  left: 15px;
  color: var(--body-color);
  font-size: 0.9375rem;
  font-family: "Times New Roman", Times, serif;
}
textarea:hover {
  background: transparent;
  border-color: var(--heading-color);
  color: var(--text-color);
}

textarea:hover::placeholder {
  color: var(--text-color);
}

.contact_button {
  background-color: var(--button-color);
  padding: 10px 0px;
  border-radius: 7px;
  color: var(--text-color);
  transition: all 0.3s;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  width: 135px;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

form > button:hover {
  background-color: black;
  box-shadow: 0.2rem 0.2rem 0.6rem var(--heading-color);
  transform: translateY(-8px) scale(1.02);
  color: rgb(154, 224, 47);
}

@media screen and (max-width: 586px) {
  
  .contact_info {
    grid-template-columns: 1fr;
  }
  .contact_options{
    align-items: center;
  }
  .contact_info a{  
    width: 250px;  
  }

  .contact_type {
    align-content: center;
    width: 100%;
  }
  .contact_msg {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
  }
  .inputs input{
    width: 300px;
  }
  form > textarea {
    width: 300px;
  }
 
}
@media screen and (max-width: 920px) {
  .contact_heading {
  font-size: 31px;}
}
@media screen and (max-width: 500px) {
  .contact_heading {
    font-size: 28px;
  }
  .contact_msg {
    font-size: 13px;
  }
}
